<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157447885473-mjtfmkfmri9nebaoh2d2nqifcs8tpg4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157447885473-mjtfmkfmri9nebaoh2d2nqifcs8tpg4f</string>
	<key>API_KEY</key>
	<string>AIzaSyCl6svTYVW_IAG96G4vJc2SpGKSs4TvVDU</string>
	<key>GCM_SENDER_ID</key>
	<string>157447885473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nutraflow</string>
	<key>PROJECT_ID</key>
	<string>nutraflow-199ae</string>
	<key>STORAGE_BUCKET</key>
	<string>nutraflow-199ae.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157447885473:ios:baf03c7ccfd910d70856e0</string>
</dict>
</plist>